<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /mcf-website/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /mcf-website/index.php [L]


</IfModule>

